/* Additional styles for woocommerce pages */
.woocommerce-page .new__container .content {
	margin-bottom: 0;
}
.woocommerce-page .new__container .content > :not(img) {
	margin-top: 35px;
	margin-bottom: 50px;
	max-width: 60rem;
}
.woocommerce-page .new__container .content img {
	margin: 0;
}
.woocommerce div.product .product_title {
	font-size: 1.5rem;
	font-weight: 800;
	letter-spacing: .0625rem;
	line-height: 1.875rem;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    border-radius: 0 .625rem;
    overflow: hidden;
}
.woocommerce span.onsale {
	padding: 0;
}
.woocommerce-info {
	border-top-color: #fac161;
	color: #141414;
	font-size: .9rem;
	line-height: 1.3rem;
}
.woocommerce-info::before,
.woocommerce div.product p.price, .woocommerce div.product span.price  {
	color: #141414;
}
.single #main-content .content .woocommerce a {
	color: #000;
	text-decoration: underline;
}
.woocommerce span.onsale {
	background-color: #fac161; 
}
.cart {
    margin: 30px 0;
}
.variations_form table {
    background: #f9f9f9;
    border-radius: 2px;
    clear: both;
}
.variations_form table td {
    vertical-align: middle;
    padding: 20px;
}
.woocommerce div.product form.cart {
	margin-top: .8em;
	margin-top: 0;
}
.woocommerce div.product form.cart table td {
	padding-left: 20px;
}
.woocommerce div.product form.cart .variations td.label {
	line-height: 2.2em;
}
.woocommerce div.product form.cart .variations select {
	font-size: .9rem;
	padding: 7px;
}
.woocommerce div.product .stock {
	color: #888;
	display: none;
}

.woocommerce .quantity .qty {
	font-size: .9rem;
	border: 1px solid #eee;
	border-radius: 1.125rem;
	background-color: #eee;
	color: #000;
	min-height: 2.25rem;
	width: 5em;
	padding: 0.3125rem 1rem;
	font-weight: 400;	
}
.woocommerce-variation-add-to-cart {
	margin-top: 20px;
}
.product_meta {
	color: #888;
	font-size: .8rem;
}
.sku_wrapper, .posted_in {
	display: block;
}
.single #main-content .content .woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #000;
	text-decoration: none;
	font-weight: 400;
	font-size: .85rem;
	border-bottom: 3px solid transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
	box-shadow: none;
}
.single #main-content .content .woocommerce div.product .woocommerce-tabs ul.tabs li a {
	padding: 14px 0 13px 0;
	color: #999;
}
.single #main-content .content .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    border-bottom: 3px solid #FAC161;
    color: #000;
}

.woocommerce-tabs {
    border-top: 1px solid #efefef;
    float: left;
    width: auto;
    margin: 0 0 40px;
    padding: 0;
    list-style-type: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	background: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	box-shadow: none;
	border-bottom-right-radius: 0;
	left: 0;
	border-width: 0;
	border-bottom: 1px solid #efefef;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	right: 0;
	border-bottom-left-radius: 0;
	border-width: 0;
	box-shadow: none;
}
.woocommerce-tabs .panel {
    background: #fff;
    clear: both;
    padding: 30px 0 15px;
}
.page-template-cart .new__container .content > :not(img),
.page-template-checkout .new__container .content > :not(img) {
	max-width: 100%;
	margin-top: 30px;
}
.page-template-cart .new__container,
.page-template-checkout .new__container {
	background-color: #fff;
	padding: 2.5rem 2rem 1.25rem;
	border-radius: 0 .625rem;
	-webkit-box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
	box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
	margin: 50px;
}
.page-template-cart .new__container .title,
.page-template-checkout .new__container .title {
	margin-bottom: 0;
	font-size: 1.7rem;
	font-weight: 300;
	letter-spacing: 0;
}
.page-template-cart .new__container > .title,
.page-template-checkout .new__container > .title {
	margin:0;
}
.page-template-cart .title::before,
.page-template-checkout .title::before {
	display:none;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
	font-size: .9rem;
	border: 1px solid #eee;
	border-radius: 1.125rem;
	background-color: #eee;
	color: #000;
	min-height: 2.25rem;
	width: 15em;
	padding: 0.3125rem 1rem;
	font-weight: 400;
}

.single-product p.form-row {
	margin-bottom: 15px;
} 
.single-product .woocommerce form .form-row .input-checkbox {
	text-align: left;
	font-size: .85em;
	line-height: 1;
}
.single-product .woocommerce form .form-row .input-checkbox input {
	margin-bottom: 10px;
}
.hidden {
	display: none;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background: -webkit-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: -o-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: linear-gradient(135deg, #FAC161 0%, #F7961C 100%);
	color: #fff;
	width: 10rem;
	height: 2.25rem;
	border-radius: 1.5625rem;
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 0.0625rem;
	line-height: 0.75rem;
	padding: 0.3125rem 0.625rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background: -webkit-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: -o-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: linear-gradient(135deg, #FAC161 0%, #F7961C 100%);
	color: #fff;
}

.woocommerce #respond input#submit.disable, .woocommerce a.button.disable, .woocommerce button.button.disable, .woocommerce input.button.disable {
	cursor: disabled;
	background: -webkit-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: -o-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: linear-gradient(135deg, #FAC161 0%, #F7961C 100%);
	color: #fff;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
	color: #fff;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button{
	height: 3.125rem;
	width: 18.75rem;
	font-size: .85rem;
	line-height: 1.7;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  .5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  .5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #999;
}
input:placeholder-shown {
	opacity: .5
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
	border: none;
	background: #f9f9f9;
	font-size: .9rem;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a {
	text-decoration: underline;
	color: #000;
}
.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
	margin: 6px 0 0 0;
	border: none;
	float: right;
	background: transparent;
	padding: 0;
	color: #000;
	letter-spacing: 0;
	font-family: inherit;
	text-transform: inherit;
	text-decoration: underline;
	font-weight: normal;
	height: auto;
	font-size: inherit;
	width: auto;
}
.page-conference .box__newsletter {
    background: -webkit-linear-gradient(315deg,#fac161 0%,#f7961c 100%);
    background: -o-linear-gradient(315deg,#fac161 0%,#f7961c 100%);
    background: linear-gradient(135deg,#fac161 0%,#f7961c 100%);
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
	width: 50%;
}
 .new__container .content .woocommerce-form-coupon p {
	margin-bottom: 0;
}
.woocommerce-form-coupon input {
	font-size: .9rem;
	border: 1px solid #eee;
	border-radius: 1.125rem;
	background-color: #eee;
	color: #000;
	min-height: 2.25rem;
	width: 100%;
	padding: 0.3125rem 1rem;
	font-weight: 400;
}
.woocommerce form h3 {
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 1.15rem;
}
.woocommerce-order h2 {
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 1.2rem;
}
.woocommerce form .form-row label {
	font-size: .85rem;
}
.new__container .content .woocommerce-checkout p.form-row {
	margin-bottom: 20px;
}
.woocommerce table.shop_table th {
	font-weight: 600;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	line-height: normal;
	font-size: .9rem;
	border: 1px solid #eee;
	border-radius: 1.125rem;
	background-color: #eee;
	color: #000;
	min-height: 2.25rem;
	padding: 0.3125rem 1rem;
	font-weight: 400;
}
.woocommerce form .form-row input {
	margin-bottom: 20px;
}
.woocommerce form .select2-selection.select2-selection--single {
	margin-bottom: 20px;
}
.fooevents-variation-desc {
	margin-bottom: 20px;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: #fff;
	border-radius: 0;
}
#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
	background: #f9f9f9;
	margin: 0 0 1px 0;
}
#payment ul li{
	padding: 20px;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
	border-bottom: none;
}
#add_payment_method #payment ul.payment_methods li img, .woocommerce-cart #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img {
	margin: -10px 0 10px 0;
	float: right;
}
#add_payment_method #payment .payment_method_paypal .about_paypal, .woocommerce-cart #payment .payment_method_paypal .about_paypal, .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: 1;
	font-size: .83em;
	float: none;
}
.new__container .content .woocommerce-privacy-policy-text p {
	margin-bottom: 0;
}
a.woocommerce-privacy-policy-link,
a.woocommerce-terms-and-conditions-link {
	text-decoration: underline;
	color: #000;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	height: 3.125rem;
	width: 18.75rem;
	font-size: .85rem;
	line-height: 1.7;
	float: none;
}
.woocommerce .cart-collaterals h2 {
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 10px;
}
.page-template-checkout .woocommerce a.remove {
	float: left;
	line-height: 1.6em;
}
.woocommerce table.shop_table td.product-name {
	line-height: 2.5em;
}
.woocommerce table.shop_table tbody .cart-subtotal th, .woocommerce table.shop_table tfoot .cart-subtotal td, .woocommerce table.shop_table tfoot .cart-subtotal th, 
.product-quantity {
	font-weight: 400;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
}
#add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table th {
	width: 81%;
}
.order-again a.button,
.return-to-shop a.button,
a.add_to_cart_button {
	text-align: center;
	line-height: 2.2 !important;
	width: 15em;
}
.woocommerce form .form-row select {
	font-size: .9rem;
	padding: 7px;
}
.woocommerce form .form-row.woocommerce-validated select {
	border: none;
}
/*.woocommerce-cart-form button[name="update_cart"] {	
	display: none;
}*/
.page-template-cart .new__container,
.page-template-checkout .new__container {
	position: relative;
}
.cart-link {
	top: 46px;
	position: absolute;
	right: 33px;
}
.cart-link a {
	font-size: .9rem;
	text-decoration: underline;
}
.woocommerce ul.order_details li {
	margin-bottom: 2em;
}
.woocommerce-additional-fields__field-wrapper {
	display: none;
}
.woocommerce .woocommerce-order-details tfoot tr:last-child {
	display: none;
}
.small-print {
	font-size: .9em;
	font-style: italic;
	margin-bottom: 10px;
}
.new__container .content .woocommerce-notice {
	margin-bottom: 10px;
}
/* Container product page */
.single-product .new__container {
	background-color: #fff;
	padding: 0 2rem;
	border-radius: 0 .625rem;
	-webkit-box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
	box-shadow: 0 0 1.875rem 0 rgba(0,0,0,.1);
	margin: 50px;
	display: flex;
}

/* Styles for embedded event */
.detail-registration.p-all {
	padding-top: 0;
	margin-bottom: 40px;
}
.detail-registration.p-all .woocommerce div.product div.images img {
	margin-top: 0;
	margin-bottom: 0;
}
.detail-registration.p-all p.form-row {
	margin-bottom: 15px;
} 
.detail-registration.p-all .woocommerce form .form-row .input-checkbox {
	text-align: left;
	font-size: .85em;
	line-height: 1;
}
.detail-registration.p-all .woocommerce form .form-row .input-checkbox input {
	margin-bottom: 10px;
}
#cookie-notice .cookie-notice-container a.cn-button.button {
	font-family: sans-serif;
	line-height: 18px;
	padding: 2px 12px;
	background: linear-gradient(to bottom,#FEFEFE,#F4F4F4) repeat scroll 0 0 #F3F3F3;
	border-color: transparent;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
	-moz-box-sizing: border-box;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	white-space: nowrap;
	outline: none;
	height: auto;
	width: auto;
	border: none;
	text-transform: capitalize;
}

/* Tagged as free event */ 
.product_tag-free .add_to_cart_button {
	display: inline-block !important;
}


/* Active Campaigns form */
._form_3,
._form_7,
._form_9 {
	margin-top: -20px;
	width: auto !important;
	padding: 0 !important;
	margin: 0 !important;
}
._form_3 ._form-title,
._form_7 ._form-title,
._form_9 ._form-title {
	display: none;
}
._form_3 ._form_element,
._form_7 ._form_element,
._form_9 ._form_element {
	margin-bottom: 30px;
}
._form_3 label,
._form_7 label,
._form_9 label {
	font-size: .7rem !important;
	line-height: .75rem;
	text-transform: uppercase;
	font-weight: 500 !important;
	margin-bottom: .5125rem !important;
}
._form_3 ._field1 label,
._form_7 ._field1 label,
._form_9 ._field1 label {
	text-transform: initial;
	font-size: .9rem !important;
	line-height: 1.7;
}
._form_3 input[type="text"],
._form_3 input[type="email"],
._form_7 input[type="text"],
._form_7 input[type="email"],
._form_9 input[type="text"],
._form_9 input[type="email"] {
	border-radius: 1.125rem !important;
	border: none !important;
	padding: .625rem 1.25rem !important;
	line-height: .9375rem;
	background: #f6f6f6 !important;
	width: 100%;
	font-size: .75rem;
	font-weight: 300;
	color: #000;
	min-height: 2.25rem;
}
._form_3 select,
._form_7 select {
	width: 100%;
	min-height: 2.25rem;
	font-size: .9rem;
	color: #000;
	min-height: 2.25rem;
	padding: 0.3125rem 1rem;
}
._form_3 textarea,
._form_7 textarea {
	height: 120px;
	font-size: .9rem !important;
	color: #000;
	font-weight: 400 !important;
	border-radius: 1.125rem !important;
}
._form_3 ._button-wrapper button._submit,
._form_3 ._button-wrapper input._submit,
._form_7 ._button-wrapper button._submit,
._form_7 ._button-wrapper input._submit, {
	background: -webkit-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: -o-linear-gradient(315deg, #FAC161 0%, #F7961C 100%);
	background: linear-gradient(135deg, #FAC161 0%, #F7961C 100%) !important;
	width: 10rem;
	height: 2.25rem;
	border-radius: 1.5625rem !important;
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 0.0625rem;
	line-height: 0.75rem;
	padding: 0.3125rem 0.625rem !important;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
	color: #fff;
}
._form_3 ._full_width {
	margin-bottom: 30px !important;
}
._form_3 ._button-wrapper._full_width {
    margin-left: 5.5rem;
    margin-top: 0px;
    position: absolute;
}
._form_7 ._button-wrapper._full_width,
._form_9 ._button-wrapper._full_width,
.prereg ._form_3 ._button-wrapper._full_width {
    position: relative;
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: 30px;
}
._form_7 ._button-wrapper button._submit,
._form_9 ._button-wrapper button._submit,
.prereg ._form_3 ._button-wrapper button._submit {
	height: 3.125rem;
	width: 17.5rem;
	border-radius: 1.5625rem;
	letter-spacing: .0625rem;
	line-height: .75rem;
	padding: .3125rem .625rem;
}
.add_to_cart_button,
.single_add_to_cart_button {
	display: none !important;
}
.woocommerce-variation-price {
	display: none;
}
.prereg span.wpcf7-not-valid-tip {
	font-size: .8em;
}


blockquote { 
	webkit-background-clip:text; 
	background: none; 
	text-transform: initial;
	-webkit-text-fill-color: initial; 
	padding-top: 0; 
	padding-left: 4em; 
	padding-right: 4em; 
	quotes:"\201C""\201D""\2018""\2019";
	position: relative;
}
blockquote p {
	font-weight:400 !important;
	font-size:1rem !important; 
	line-height: 1.6; 
}
blockquote:before { 
	content: open-quote; 
	color: #ddd; 
	font-size: 4em; 
	margin-left: -1em; 
	font-family: "Montserrat"; 
	height: 0; 
	line-height: 1;
	display: block ;
}
blockquote:after { 
	content: close-quote; 
	color: #ddd; 
	font-size: 4em;  
	font-family: "Montserrat"; 
	height: 50px;
	width: 90px; 
	line-height: 1;
	display: block;
	position: absolute;
	right: 0px;
	bottom:10px;
}


/* Mobile fixes */

/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .detail-registration.p-all {
  	padding-top: 2em;
  }
  .new__container {
  	margin-left: auto;
  }
  .page-template-cart .new__container, .page-template-checkout .new__container {
  	margin: 15px auto;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
  	max-width: 48%;
  }
  .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  	width: auto;
  }
  .page-template-checkout .new__container {
  	padding-left: 1rem;
  	padding-right: 1rem;
  }
   .woocommerce .checkout  table.shop_table th {
		width: 69%;
	}
}

@media (max-width: 667px) and (min-width: 320px) {
	.woocommerce ._form_3 form[id^="_form"] ._button-wrapper button._submit {
		font-size: .8em !important;
	}
}
